<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Thankwsx.github.com by thankwsx</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>前端开发记实</h1>
        <h2>——琐碎点滴</h2>
        <a href="http://t.qq.com/thankwsx_111" class="button"><small>收听我的</small></a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
      <section>
                <ul>
            {% for post in site.posts %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
                <p>{{ post.excerpt }}</p>
              </li>
            {% endfor %}
          </ul>
</section>        

        <aside id="sidebar">
        </aside>
      </div>
    </div>
  </body>
</html>